# Xcode
# *.xcodeproj  # 不忽略，需要提交给团队
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata
*.xcuserstate

# Build
.build/
.swiftpm/
DerivedData/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Temporary files
*.tmp
*.temp
